.topics-container {
  padding: 2em;
}

.topics-container h2 {
  font-size: 2em;
  line-height: 1.3em;
}

.topics-container button, .result button {
  display: block;
  padding: .8em;
  margin-bottom: .8em;
  text-align: center;
  outline: none;
  background-color: #fff;
  border: 1px solid #e9e9e9;
  font-size: 1.2em;
  width: 100%;
  transition: transform .15s ease-in-out;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, .08);
  border-radius: 4px;
}

.topics-container button:active, .result button:active {
  transform: scale(.95);
}

.topics-container button.wrong {
  background-color: #FF7056;
}

.topics-container button.correct {
  background-color: #4FFF87;
}

.App .statusBar {
  height: 8px;
  background-color: #FFBA4F;
  transition: all .15s ease-out;
}

.App .result {
  text-align: center;
  position: relative;
  z-index: 5000;
  padding: 0 2em;
}

.App .result h2 {
  font-size: 2em;
}

.App .result h3 {
  font-size: 1.5em;
}

.App .result button {
  margin-top: 3em;
}

.fireworks {
  margin-top: 6em;
}

.fireworks > .before, .fireworks > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.fireworks > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: 163px -188.6666666667px #ff008c, -54px -354.6666666667px #00ff95, -163px -288.6666666667px #0080ff, 42px -216.6666666667px #00a6ff, 231px -402.6666666667px #d0ff00, 233px -80.6666666667px #ff00ee, -146px -159.6666666667px #09ff00, 177px 64.3333333333px #ff0066, 117px -153.6666666667px #4d00ff, -65px -154.6666666667px #0051ff, -225px -165.6666666667px #ffae00, -119px -90.6666666667px #ff1e00, 215px 47.3333333333px #ff0033, 50px -339.6666666667px #007bff, -10px -131.6666666667px #a200ff, -61px -361.6666666667px #3c00ff, -78px -388.6666666667px #ff00d5, 174px -33.6666666667px #73ff00, 118px -284.6666666667px #ff8400, -44px -97.6666666667px #ffae00, 169px -104.6666666667px #00e6ff, -173px -312.6666666667px #ff1100, 156px -266.6666666667px #00ff48, 107px -193.6666666667px #9d00ff, -120px -137.6666666667px #00ff95, 32px -297.6666666667px #ff0066, 148px 45.3333333333px #0066ff, 184px 72.3333333333px #ae00ff, 44px -383.6666666667px #006aff, 130px -375.6666666667px #001eff, -237px -110.6666666667px #ccff00, -218px 41.3333333333px #00ff7b, 145px -213.6666666667px #e1ff00, 113px 34.3333333333px #00ffee, -216px -164.6666666667px #ff2200, -102px -205.6666666667px #00aaff, -168px 49.3333333333px #84ff00, 96px -412.6666666667px #6f00ff, -6px -140.6666666667px #80ff00, 55px -306.6666666667px #d500ff, -136px -30.6666666667px #a6ff00, 224px -30.6666666667px #ff008c, 241px -86.6666666667px #ff0080, -226px -245.6666666667px #0091ff, -29px -351.6666666667px #d9ff00, -77px 60.3333333333px #26ff00, 66px -9.6666666667px #ff00c4, 86px -338.6666666667px #d9ff00, 26px 36.3333333333px #ffae00, 173px -25.6666666667px #ff00b7, 129px -303.6666666667px #ff00d5;
  }
}
@-moz-keyframes bang {
  to {
    box-shadow: 163px -188.6666666667px #ff008c, -54px -354.6666666667px #00ff95, -163px -288.6666666667px #0080ff, 42px -216.6666666667px #00a6ff, 231px -402.6666666667px #d0ff00, 233px -80.6666666667px #ff00ee, -146px -159.6666666667px #09ff00, 177px 64.3333333333px #ff0066, 117px -153.6666666667px #4d00ff, -65px -154.6666666667px #0051ff, -225px -165.6666666667px #ffae00, -119px -90.6666666667px #ff1e00, 215px 47.3333333333px #ff0033, 50px -339.6666666667px #007bff, -10px -131.6666666667px #a200ff, -61px -361.6666666667px #3c00ff, -78px -388.6666666667px #ff00d5, 174px -33.6666666667px #73ff00, 118px -284.6666666667px #ff8400, -44px -97.6666666667px #ffae00, 169px -104.6666666667px #00e6ff, -173px -312.6666666667px #ff1100, 156px -266.6666666667px #00ff48, 107px -193.6666666667px #9d00ff, -120px -137.6666666667px #00ff95, 32px -297.6666666667px #ff0066, 148px 45.3333333333px #0066ff, 184px 72.3333333333px #ae00ff, 44px -383.6666666667px #006aff, 130px -375.6666666667px #001eff, -237px -110.6666666667px #ccff00, -218px 41.3333333333px #00ff7b, 145px -213.6666666667px #e1ff00, 113px 34.3333333333px #00ffee, -216px -164.6666666667px #ff2200, -102px -205.6666666667px #00aaff, -168px 49.3333333333px #84ff00, 96px -412.6666666667px #6f00ff, -6px -140.6666666667px #80ff00, 55px -306.6666666667px #d500ff, -136px -30.6666666667px #a6ff00, 224px -30.6666666667px #ff008c, 241px -86.6666666667px #ff0080, -226px -245.6666666667px #0091ff, -29px -351.6666666667px #d9ff00, -77px 60.3333333333px #26ff00, 66px -9.6666666667px #ff00c4, 86px -338.6666666667px #d9ff00, 26px 36.3333333333px #ffae00, 173px -25.6666666667px #ff00b7, 129px -303.6666666667px #ff00d5;
  }
}
@-o-keyframes bang {
  to {
    box-shadow: 163px -188.6666666667px #ff008c, -54px -354.6666666667px #00ff95, -163px -288.6666666667px #0080ff, 42px -216.6666666667px #00a6ff, 231px -402.6666666667px #d0ff00, 233px -80.6666666667px #ff00ee, -146px -159.6666666667px #09ff00, 177px 64.3333333333px #ff0066, 117px -153.6666666667px #4d00ff, -65px -154.6666666667px #0051ff, -225px -165.6666666667px #ffae00, -119px -90.6666666667px #ff1e00, 215px 47.3333333333px #ff0033, 50px -339.6666666667px #007bff, -10px -131.6666666667px #a200ff, -61px -361.6666666667px #3c00ff, -78px -388.6666666667px #ff00d5, 174px -33.6666666667px #73ff00, 118px -284.6666666667px #ff8400, -44px -97.6666666667px #ffae00, 169px -104.6666666667px #00e6ff, -173px -312.6666666667px #ff1100, 156px -266.6666666667px #00ff48, 107px -193.6666666667px #9d00ff, -120px -137.6666666667px #00ff95, 32px -297.6666666667px #ff0066, 148px 45.3333333333px #0066ff, 184px 72.3333333333px #ae00ff, 44px -383.6666666667px #006aff, 130px -375.6666666667px #001eff, -237px -110.6666666667px #ccff00, -218px 41.3333333333px #00ff7b, 145px -213.6666666667px #e1ff00, 113px 34.3333333333px #00ffee, -216px -164.6666666667px #ff2200, -102px -205.6666666667px #00aaff, -168px 49.3333333333px #84ff00, 96px -412.6666666667px #6f00ff, -6px -140.6666666667px #80ff00, 55px -306.6666666667px #d500ff, -136px -30.6666666667px #a6ff00, 224px -30.6666666667px #ff008c, 241px -86.6666666667px #ff0080, -226px -245.6666666667px #0091ff, -29px -351.6666666667px #d9ff00, -77px 60.3333333333px #26ff00, 66px -9.6666666667px #ff00c4, 86px -338.6666666667px #d9ff00, 26px 36.3333333333px #ffae00, 173px -25.6666666667px #ff00b7, 129px -303.6666666667px #ff00d5;
  }
}
@-ms-keyframes bang {
  to {
    box-shadow: 163px -188.6666666667px #ff008c, -54px -354.6666666667px #00ff95, -163px -288.6666666667px #0080ff, 42px -216.6666666667px #00a6ff, 231px -402.6666666667px #d0ff00, 233px -80.6666666667px #ff00ee, -146px -159.6666666667px #09ff00, 177px 64.3333333333px #ff0066, 117px -153.6666666667px #4d00ff, -65px -154.6666666667px #0051ff, -225px -165.6666666667px #ffae00, -119px -90.6666666667px #ff1e00, 215px 47.3333333333px #ff0033, 50px -339.6666666667px #007bff, -10px -131.6666666667px #a200ff, -61px -361.6666666667px #3c00ff, -78px -388.6666666667px #ff00d5, 174px -33.6666666667px #73ff00, 118px -284.6666666667px #ff8400, -44px -97.6666666667px #ffae00, 169px -104.6666666667px #00e6ff, -173px -312.6666666667px #ff1100, 156px -266.6666666667px #00ff48, 107px -193.6666666667px #9d00ff, -120px -137.6666666667px #00ff95, 32px -297.6666666667px #ff0066, 148px 45.3333333333px #0066ff, 184px 72.3333333333px #ae00ff, 44px -383.6666666667px #006aff, 130px -375.6666666667px #001eff, -237px -110.6666666667px #ccff00, -218px 41.3333333333px #00ff7b, 145px -213.6666666667px #e1ff00, 113px 34.3333333333px #00ffee, -216px -164.6666666667px #ff2200, -102px -205.6666666667px #00aaff, -168px 49.3333333333px #84ff00, 96px -412.6666666667px #6f00ff, -6px -140.6666666667px #80ff00, 55px -306.6666666667px #d500ff, -136px -30.6666666667px #a6ff00, 224px -30.6666666667px #ff008c, 241px -86.6666666667px #ff0080, -226px -245.6666666667px #0091ff, -29px -351.6666666667px #d9ff00, -77px 60.3333333333px #26ff00, 66px -9.6666666667px #ff00c4, 86px -338.6666666667px #d9ff00, 26px 36.3333333333px #ffae00, 173px -25.6666666667px #ff00b7, 129px -303.6666666667px #ff00d5;
  }
}
@keyframes bang {
  to {
    box-shadow: 163px -188.6666666667px #ff008c, -54px -354.6666666667px #00ff95, -163px -288.6666666667px #0080ff, 42px -216.6666666667px #00a6ff, 231px -402.6666666667px #d0ff00, 233px -80.6666666667px #ff00ee, -146px -159.6666666667px #09ff00, 177px 64.3333333333px #ff0066, 117px -153.6666666667px #4d00ff, -65px -154.6666666667px #0051ff, -225px -165.6666666667px #ffae00, -119px -90.6666666667px #ff1e00, 215px 47.3333333333px #ff0033, 50px -339.6666666667px #007bff, -10px -131.6666666667px #a200ff, -61px -361.6666666667px #3c00ff, -78px -388.6666666667px #ff00d5, 174px -33.6666666667px #73ff00, 118px -284.6666666667px #ff8400, -44px -97.6666666667px #ffae00, 169px -104.6666666667px #00e6ff, -173px -312.6666666667px #ff1100, 156px -266.6666666667px #00ff48, 107px -193.6666666667px #9d00ff, -120px -137.6666666667px #00ff95, 32px -297.6666666667px #ff0066, 148px 45.3333333333px #0066ff, 184px 72.3333333333px #ae00ff, 44px -383.6666666667px #006aff, 130px -375.6666666667px #001eff, -237px -110.6666666667px #ccff00, -218px 41.3333333333px #00ff7b, 145px -213.6666666667px #e1ff00, 113px 34.3333333333px #00ffee, -216px -164.6666666667px #ff2200, -102px -205.6666666667px #00aaff, -168px 49.3333333333px #84ff00, 96px -412.6666666667px #6f00ff, -6px -140.6666666667px #80ff00, 55px -306.6666666667px #d500ff, -136px -30.6666666667px #a6ff00, 224px -30.6666666667px #ff008c, 241px -86.6666666667px #ff0080, -226px -245.6666666667px #0091ff, -29px -351.6666666667px #d9ff00, -77px 60.3333333333px #26ff00, 66px -9.6666666667px #ff00c4, 86px -338.6666666667px #d9ff00, 26px 36.3333333333px #ffae00, 173px -25.6666666667px #ff00b7, 129px -303.6666666667px #ff00d5;
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}